<launch>
    <include file="$(find visualsysneeds)/launch/camera.launch"/>
    <node name="roomlight" pkg="visualsysneeds" type="roomlight.py" output="screen"></node>
    <node name="roomsilence" pkg="visualsysneeds" type="roomsilence.py" output="screen"></node>
    <node name="RoomOccupation" pkg="visualsysneeds" type="roomoccupation.py" output="screen"></node>
</launch>
